.browse-collection-img {
  height: 245px;
  width: 310px;
}

.browse-collection-item {
  background-color: white;
  border: .5px solid lightgrey;
  display: grid;
  grid-template-columns: 1fr 1fr;

}

.browse-collections {
  margin: 20px;
}
.browse-collections-header{
  text-align: center;
  margin: 3vw;
  color: black;
}
.browse-collections-header:hover, .browse-collections-text-header:hover, .browse-collections-text-content:hover, .browse-collections-seemore:hover {
  text-decoration: underline;
}
.browse-collections-text {
  align-self: center;
  font-size: 23px;
}

.browse-collections-text-header{
  color: grey;
  font-size: 18px;
}
.browse-collections-seemore{
  margin: 3vw;
  text-align: center;
  color: #FF883E;
}
