.browse-collection-img {

  width: 80%;
}
.overflowFix{
  overflow: hidden;
}
.imgFix {
  width: 100%;
  vertical-align: middle;
  display: inline-block;
  box-sizing: border-box;
}
.browse-collection-item {
  margin: -.5vw;
  background-color: white;
  border: .5px solid lightgrey;
  display: grid;
  grid-template-columns: 1fr 1fr;

}
.browse-collection-item:hover .browse-collections-text-content{
  text-decoration: underline;

}

.browse-collections {
  margin: 20px;
}
.browse-collections-header{
  font-size: 26px;
  text-align: center;
  margin: 3vw;
  color: black;
}
.browse-collections-header:hover, .browse-collections-text-header:hover, .browse-collections-text-content:hover, .browse-collections-seemore:hover {
  text-decoration: underline;
}
.browse-collections-text {
  margin: 2vw;
  align-self: center;
  font-size: 20px;
  font-weight:500;
}
.browse-collections-text-header{
  color: grey;
  font-size: 12px;
}
.browse-collections-seemore{
  font-size: 14px;
  margin: 2vw;
  text-align: center;
  color: #FF883E;
}
