.carousel-item {
  height: 280px;
  font-family: serif;
}

a {
  color: black;
}

a:hover {
  text-decoration: none;
}

.carousel-item h1 {
  padding-left: 0;
  margin-left: 0;
  padding-bottom: 30px;
  color: #323232;
  font-weight: 100;
  font-size: 52px;
}

.button {
  border-color: black;
  background-color: transparent;
  box-shadow: none;
  font-size: 14px;
  padding: 8px;
  border-radius: 3px;
  border-style: solid;
  font-family: sans-serif;
}

#screen_2 .button {
  border-color: white;
  color: white;
}

#screen_2 a:hover {
  border-color: #F56400;
}

.button:hover {
  background-color: #F56400;
  border-color: #F56400;
  border-style: solid;
  color: white;
  box-shadow: none;
}

#previous-button {
  color: black;
}

#next-button {
  color: black;
}

#screen_2 h1 {
  color: white;
}

.carousel-icons .carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23323232' viewBox='0 0 8 8'%3E%3Cpath d='M4 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
.carousel-icons .carousel-control-next-icon  {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23323232' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-icons {
  background-color: rgba(255, 255, 255, 0.8);
  height: 100px;
  top: 90px;
}

.carousel-control-prev {
  width: 4%;
  margin-right: 0;
}

.carousel-control-next {
  width: 4%;
  margin-right: 0;
}

.carousel-caption {
  width: 40%;
  text-align: left;
  left: 10%;
}

.img-fluid {
  height: 280px;
  max-width: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
