.carousel-item {
  height: 280px;
  font-family: serif;

}

button {
  border-color: black;
  background-color: transparent;
  box-shadow: none;
  font-size: 14px;
  padding: 5px 8px;
  border-radius: 3px;
}

#screen_1 h1 {
  padding-left: 0;
  margin-left: 0;
  padding-bottom: 20px;
  color: #323232;
  font-weight: 100;
  font-size: 48px;
}

#screen_3 h1 {
  padding-left: 0;
  margin-left: 0;
  padding-bottom: 20px;
  color: #323232;
  font-weight: 100;
  font-size: 48px;
}

#screen_2 h1 {
  padding-left: 0;
  margin-left: 0;
  padding-bottom: 20px;
  color: white;
  font-weight: 100;
  font-size: 48px;
}

#screen_2 button {
  border-color: white;
  color: white;
}

span {
  background-color: #lelele;
}
.carousel-control-prev-icon {
  background-color: #lelele;
}

.carousel-control-prev {
  width: 10%;
  margin-right: 0;
}

.carousel-caption {
  width: 40%;
  text-align: left;
  left: 10%;
}

.img-fluid {
  height: 280px;
  max-width: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
