body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/*BEGIN ShopHeader styling*/



/*END ShopHeader styling*/

.shopheader-listings-thumb-pic {
  width: 75px;
}

.shopheader-shop-pic {
  width: 75px;
}

/*BEGIN ShopSidebar styling*/

.shop-sidebar-shop-pic {
  width: 50px;
  height: 50px;
}

.shop-listings-card-pic {
  width: 190px;
}

/*END ShopSidebar styling*/
