body {

}

.star {
	width: 15px
}

.nav-item {
	display: flex;
	flex-flow: row nowrap;
}

.nav-tabs {
	display: flex;
	flex-flow: row nowrap;
	width: 70%
}

.useravatar {
	width: 100px
}

.fa-star {
	color: gold
}

.fa-star-o {
	color: gold
}
