body {
  padding-left: auto;
  padding-right: auto;
}


.App {
  background-color: #FFFFFF;
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.app-container {
  width: 100vw;
}

.category-header {
  width: 100vw;
}

.allCatTitle {
  font-size: 1.75em;
  color: #474747;
  text-align: left;
  margin: 3vw 0 0 2vw;
}

.body-container {
  width: 100vw;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 2vw;
}

.body-row {
  width: 96vw;
  margin: 0px;
}
