@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
@font-face {
  font-family: 'FontAwesome';
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.card.catBarCard {
  width: 231px!important;
  height: auto;
  padding: 0px!important;
  margin: 0px!important;
}

.catBar {
  width: auto;
  padding: 0px;
}


/* Category links styling */

.allCatColumn {
  font-size: .78em;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  border-bottom: .25px solid #dbdbdb;
  margin: 0 1vw 0 1vw;
}
.categoryList {
  font-weight: 400;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  list-style: none;
  margin: 0px;
  padding: 0 0 10px 10px;
}

.categoryList li {
  height: 1.5em;
  margin: 0px;
}

.allCategories {
  font-weight: 600;
  color: #7a7a7a;
  margin: 1vw 0 0 0;
}


li {
  margin: 0 0 .2vw -1vw;
}

.catListItem {
  text-decoration: none;
  font-weight: 300;
  color: #7a7a7a;
}


.grid-items {
  width: 15vw;
  overflow: auto;
}

.showMoreCat {
  color: #e86c25;
  font-weight: 300vw;
  margin: -2vw 0 2vw 0;
  cursor: pointer;
}

/* Shop Location Styling */

.shopLocationContainer {
  font-size: .78em;
  color: #7a7a7a;
  height: 158px;
  width: 200px;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  border-bottom: .25px solid #dbdbdb;
  margin: 1vw 1vw 0 15px;
  padding-top: 5px;
}

#shopLocation {
  font-weight: 700;
  margin: 0px 0px 5px 0px;
}

.shopLocation {
  height: 20px;
  margin-top: 3px;
}

.shop-location-buttons {
  margin-bottom: 10px;
}

.radio-container {
  height: 21px;
  margin: 0px!important;
}

.radio-button {
  margin-top: 0px!important;
}

input[type=radio] + label {
  font-weight: 300;
}

input[type=radio]:checked + label {
  font-weight: 700;
}


input[type=radio] {
  opacity: 0;
  width: 18px;
  height: 18px;
  position: relative;
  top: 2px;
  left: 12px;
  z-index: 2;
  cursor: pointer;
}

input[type=radio] + label span {
  display: inline-block;
  width: 18px;
  height: 18px;
  border: .75px solid #a5a5a5;
  border-radius: 50%;
  background: #FFFFFF;
  position: relative;
  top: 5px;
  left: -8px;
  cursor: pointer;
}

input[type=radio]:checked + label span:before {
  content: '⬤';
  color: #f56400;
  font-size: 10.4px;
  position: absolute;
  left: 2.3px;
  bottom: 1.88px;
  cursor: pointer;
}

.inputContainer {
  height: 40px;
  display: flex;
  flex-flow: row nowrap;
  align-items:flex-end;
  margin: 0 0 2px 15px;
}

.titleForm {
  color: #7a7a7a;
  font-weight: 300;
  border-radius: 5%;
  border: .25px solid #dbdbdb;
  width: 140px;
  height: 38px;
  margin: .5vw .2vw 0vw 0px;
}

.infoSubButton {
  color: #7a7a7a;
  background: #FFFFFF;
  border-radius: 5%;
  border: .25px solid #dbdbdb;
  width: 38px;
  height: 38px;
  padding-bottom: 4px;
  margin: 0 0 0vw 3px;
}

.fa-play {
  padding-top: 8px;
}

/* Item type column styling */

.itemTypeContainer {
  font-size: .78em;
  color: #7a7a7a;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  height: 125px;
  width: 200px;
  border-bottom: .25px solid #dbdbdb;
  margin: 0 1vw 0 15px;
  padding-top: 5px;
}

.item-type-column {
  padding-top: 10px;
}

.itemType {
  font-weight: 600;
  margin: 0px 0px 5px 0px;
}

.radio-container {
  margin: 0 0 0 -13px!important;
  width: 150px
}

.radio-label {
  font-weight: 300;
  position: relative;
  z-index: 0;
  margin-bottom: 1px;
}

.price-container {
  font-size: .78em;
  color: #7a7a7a;
  height: 230px;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  width: 200px;
  border-bottom: .25px solid #dbdbdb;
  margin-left: 15px;
  padding-top: 15px;
}

.price-title {
  font-weight: 700;
}

.price-title label {
  margin: 2px;
}

.priceInputContainer {
  display: flex;
  flex-flow: row nowrap;
  margin: 5px 0 7px 20px;
}

.customPriceForm {
  color: #7a7a7a;
  font-weight: 300;
  border-radius: 5%;
  border: .25px solid #dbdbdb;
  width: 56px;
  height: 37px;
  margin: 7px 4px 0 0;
}

.to {
  padding-top: 15px;
}

.priceSubButton {
  color: #7a7a7a;
  background: #FFFFFF;
  border-radius: 5%;
  border: .25px solid #dbdbdb;
  width: 37px;
  height: 37px;
  margin: 6.5px 0 0 5px;
}

/* Color column styling */

.colorContainer {
  width: 200px;
  border-bottom: .25px solid #dbdbdb;
  margin-left: 15px;
}

.colorColumn {
  list-style: none;
  display: flex;
  flex-flow: column nowrap;
  color: #7a7a7a;;
  margin: 0;
}

.color-title {
  margin-top: 20px;
  font-size: .78em;
  font-weight: bold;
}
.colorList {
  font-size: .74em;
  margin: 0px 0px 0px 20px;
  padding: none;
  margin: none;
}

.colorCheckBox {
  display: flex;
  flex-flow: row nowrap;
}

.colorListItem {
  text-decoration: none;
  font-weight: 300;
  color: #7a7a7a;
  height: 18px;
}

.colorLabels {
  height: 17px;
  position: relative;
}

.colorListItem input[type="checkbox"] {
  opacity: 0;
  width: 16px;
  height: 16px;
  background-color: #FFFFFF;
  color: #ea7532;
  position: absolute;
  left: 10px;
  z-index: 2;
  margin: 0px!important;
  cursor: pointer;
}

.colorListItem input[type="checkbox"] + label span {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: .50px solid #b9b9b9;
  border-radius: 3px;
  background: #FFFFFF;
  position: absolute;
  left: -10px;
  cursor: pointer;
}

.colorListItem input[type="checkbox"]:checked + label span:before {
  font-family: "FontAwesome";
  content: "\f00c";
  color: #ea7532;
  font-size: 13.5px;
  font-weight: bold;
  position: absolute;
  bottom: -5px;
  cursor: pointer;
}

.showMoreColor {
  font-size: .78em;
  display: block;
  color: #e86c25;
  font-weight: 300;
  margin: 7px 0px 0px 0px;
  padding-bottom: 9px;
  cursor: pointer;
}

/*Ordering options*/
.orderingOptionsColumn {
  font-size: .78em;
  font-weight: 300;
  color: #7a7a7a;
  height: 100px;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  border-bottom: .25px solid #dbdbdb;
  margin: 0 13px 0 13px;
  text-align: left;
}

.order-title {
  font-weight: bold;
  padding-top: 15px;
  margin-left: 4px;
}

.ordering-container {
  margin: 5px 0 0 13px;
}

/*Ship to*/
.shipToColumn {
  font-size: .78em;
  color: #7a7a7a;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  /*border-bottom: .25px solid #dbdbdb;*/
  margin: .75vw 1vw 1.2vw 1vw;
  text-align: left;
}

.ship-header {
  margin: 5px 0 5px 0;
}

.dropdown-container {
  margin: .3vw 0 .3vw 0;
  width: 190px;
  height: 40px;
  overflow: hidden;
  border: #FEFEFE 1px solid;
  border-radius: 1px;
}

.select-join {
  width: 100%;
  height: 40px;
  background-size: 15% 100%;
}

.select-join select {
  width: 100%;
  height: 40px;
  background:
    linear-gradient(45deg, transparent 50%, #7a7a7a 50%),
    linear-gradient(135deg, #7a7a7a 50%, transparent 50%);

  background-position:
    calc(100% - 21px) calc(1em + 2px),
    calc(100% - 16px) calc(1em + 2px),
    100% 0;
  background-size:
    5px 5px,
    5px 5px,
    2.5em 2.5em;
  background-repeat: no-repeat;

  /* styling and reset */

  border: thin solid #dbdbdb ;
  font: 300 1em/100% "Lato", Arial, sans-serif;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;
  color: #7a7a7a;

  /* reset */

  border-radius: 3px;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance:none;
  -moz-appearance:none;
}
