.cat-card-row {
  display: flex;
  flex-flow: row nowrap;
  width: 917px;
  justify-content: space-between;
  margin: 0px;
}
.category-card-column {
  column-width: 165px;
}

.catCards {
  width: 165px;
  margin-bottom: 0px;
}

.card {
  margin: none;
}

.catTitleLink {
  color: #191919;
}
