.cat-card-row {
  margin-bottom: 1vw;
}

.category-card-column {
  padding: 0 .75vw 0 .75vw;
}

.catCards {
  height: 16vw;
  margin-bottom: 0px;
}

.card-block {
  text-align: left;
  padding: 15px;
  padding-top: 15px;
}

.card {
  margin: auto;
}

.card-title {
  font-size: 1.2em;
}

.catTitleLink {
  color: #191919;
}
