.detailed-card-row {
  width: 910px;
  margin-left: .5vw;
}

.detailedCatCardColumn {
  color: #5C5C5C;
  margin: 0;
  padding-left: 10px!important;
}

.card-img-top {
  width: 100%;
}

.detailedCatCard {
  width: 211px;
  height: 450px;
  margin: 0 0 1.75vw 0;
}

.detailed-card-block {
  text-align: left;
  padding: 25px;
}

.catTitleLink{
  color: #191919;
}

.catLink {
  font-size: 1.05em;
  color: #7a7a7a;
}

.catShopAllLink {
  font-size: 1.05em;
  color: #414141;
}

.card-title {
  text-align: left;
  font-size: 1.35em;
  font-weight: bolder;
  padding: 0px 0px 25px 0px;
  margin-top: 0px
}

.sub-cat-text {
  list-style-type: none;
  width: 100%;
  text-align: left;
  box-sizing: border-box;
  padding-bottom: 15px;
  margin: 0px;
}

.card-text {
  margin: 0px;
}
