.show {
  color: #ea7532;
}

.pageContainer{
  list-style: none;
  margin-left: 250px;
  /*border-width: thin;
  border-style: solid;*/
  margin-top: 50px;

}

.counterRow {
  display: flex;
  justify-content: center;
}

.show {
  border-width: thin;
  border-style: solid;
  padding: 10px;
  color: lightgray;
}

.pageBox {
  display: flex;
  justify-content: center;
}

.links {
  border-width: thin;
  border-style: solid;
  width: 100px;
  padding: 10px;
  color: lightgray;

}
