.product-cards-container {
  width: 910px;
  margin-left: 2.5vw;
  padding: 0px;
}

.product-row {
  width: 920px;
  display: flex;
  justify-content: space-between;
}

.product-card-column {
  width: 920px!important;
  padding: 0px;
  margin: 0px;
}

.product-card {
  /*width: 213px;*/
  height: 274px;
  border: none;
  font-family: 'Lato';
  display: inline-block;
  padding: 0px;
  box-sizing: border-box;
  padding: 15px;
  /*margin-left: 1.7vw;*/
  text-align: left;
}

a:hover {
  text-decoration: none;
}

.product-image {
  width: 100%;
  border-radius: 2px;
  margin-bottom: 5px;
}

a:hover .product-image {
  box-shadow: 0px 1px 5px #aaaaaa;
  transition: box-shadow 0.3s ease-in-out;
}

.product-title {
  color: #5C5C5C;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.1em
}

.shop-name {
  color: #aaaaaa;
  align-content: left;
  font-size: 1em;
  font-weight: 100;
}

.fa-star {
  font-size: 1em;
  color: #FFA301;
  padding: 1px;
}

.reviews {
  color: #aaaaaa;
  width: 40px;
  display: inline;
}


.total-reviews {
  color: #aaaaaa;
  font-size: 1em;
  font-weight: lighter;
}

.price {
  color: #5C5C5C;
  font-weight: bolder;
  font-size: 1.2em;
}
