.carousel {
  margin-bottom: 80px;
}

.carousel-item {
  height: 280px;
  font-family: serif;
}

.a-tags {
  color: #323232;
}

.a-tags {
  text-decoration: none;
}
.carousel-item h2 {
  text-align: left;
  padding-left: 0;
  padding-bottom: 20px;
  margin-left: 0;
  color: #323232;
  font-weight: 100;
  font-size: 3em;
  font-family: serif;
}


.carousel-caption {
  width: 35%;
  text-align: left;
  left: 10%;
  text-shadow: none;
  margin: 20px 0px;
}

.image-background {
  height: 280px;
  max-width: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.carousel-button {
  border-color: black;
  background-color: transparent;
  box-shadow: none;
  font-size: 14px;
  padding: 8px;
  border-radius: 3px;
  border-style: solid;
  font-family: sans-serif;
  text-align: left;
}

.carousel-button:hover {
  background-color: #F56400;
  border-color: #F56400;
  border-style: solid;
  color: white;
  box-shadow: none;
}

.summer-button {
  border-color: white;
  color: white;
}

.carousel-icons {
  background-color: rgba(255, 255, 255, 0.9);
  height: 140px;
  top: 70px;
  border-radius: 3px;
  visibility: hidden;
}


#previous-button {
  color: black;
}

#next-button {
  color: black;
}


.carousel-icons a:hover {
  display: block;
}

.carousel:hover .carousel-icons {
  visibility: visible;
}

.carousel-icons .carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23323232' viewBox='0 0 8 8'%3E%3Cpath d='M4 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
.carousel-icons .carousel-control-next-icon  {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23323232' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-control-next, .carousel-control-prev {
  opacity: .9;
}

.carousel-control-prev {
  width: 4%;
  margin-right: 0;
}

.carousel-control-next {
  width: 4%;
  margin-right: 0;
}


#screen_2 .button {
  border-color: white;
  color: white;
}

#screen_2 a:hover {
  border-color: #F56400;
}

#screen_2 h2 {
  color: white;
}


.carousel-indicators li {
    border: 1.25px solid gray;
    height: 11px;
    width: 11px;
    max-width: 11px;
    border-radius: 50%;
    bottom: -55px;
}

.carousel-indicators .active {
    background: gray;
}


@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  .carousel-item h2 {
    font-size: 2em;
  }
}
