* {
  font-family: 'Lato', sans-serif;
}

.home{
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #FAF9F5;
}

h2 {
  font-size: 26px;
  font-weight: 500;
  color: rgb(34, 34, 34);
  text-align: center;
}
