
#recent-reviews-main-wrapper {
  padding-bottom: 50px;
}

#recent-reviews-title {
  padding-top: 60px;
  text-align: center;
  font-family: 'Lato';
}


#recent-reviews-main-wrapper a {
  font-size: 12px;
  color: rgb(68, 68, 68);
  font-weight: 300;
  font-family: 'Lato';
}

#recent-reviews-main-wrapper a:hover {
  text-decoration: underline;
}

.recent-reviews-all-cards {
  margin-top: 80px;
}

.recent-reviews-individual-card {
  background-color: white;
  text-align: center;
  padding-top: 30px;
  margin-bottom: 80px;
  border-radius: 3px;
}


/* User Info */

.recent-reviews-user-info {
  height: 10em;
}

.recent-reviews-user-info span {
  font-size: 14px;
  font-family: 'Lato';
  color: rgb(41, 43, 44);
  font-weight: bold;
}

.recent-reviews-user-info p {
  font-size: 14px;
  color: rgb(68, 68, 68);
  font-weight: 300;
  font-family: 'Lato';
}

#light-gray {
  color: #777;
  font-weight: 200;
}

.recent-reviews-star {
  color: orange;
}

.recent-reviews-info-container {
  padding-top: 60px;

}


#recent-reviews-card-2 {
  text-align: center;
}

#recent-reviews-card-3 {
  text-align: center;
}

#recent-reviews-card-1 {
  text-align: center;
}

.recent-reviews-profile-pics {
  margin-left: auto;
  margin-right: auto;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  left: 50%;
  top: -40px;
  transform: translateX(-50%);
}

#recent-reviews-profile-pic-1  {
  background-image: url('https://img1.etsystatic.com/000/0/5434216/iusa_75x75.5208597.jpg');
}

#recent-reviews-profile-pic-2  {
  background-image: url('https://img0.etsystatic.com/030/0/18656013/iusa_75x75.27053850_gz25.jpg');

}

#recent-reviews-profile-pic-3  {
  background-image: url('https://img1.etsystatic.com/185/0/90271381/iusa_75x75.52484889_8cwt.jpg');
}

.recent-reviews-product-picture {
  width: 250px;
  height: 250px;
  max-width: 100%;
  max-height: 30%;
  overflow: hidden;
  border-radius: 3px;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.recent-reviews-product-description {
  padding-top: 5px;
  color: rgb(34, 34, 34);
}

#recent-reviews-product-picture-1 {
  background-image: url('https://img1.etsystatic.com/005/1/6556719/il_300x300.392033141_oomr.jpg');
}


#recent-reviews-product-picture-2 {
  background-image: url('https://img1.etsystatic.com/000/0/5530342/il_300x300.185259095.jpg');
}

#recent-reviews-product-picture-3 {
  background-image: url('https://img0.etsystatic.com/063/1/8384145/il_300x300.799830916_jh04.jpg');
}
