.etsyLogo {
  width: auto;
  height: 36px;
}
.navTop {
  height: 80px;
  padding: 15px 0 0 12px;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: white;
}

.navbar-brand {
  padding: 0px 20px 0px 0px!important;
  margin: 13px 0px 0 16px!important;
}

.logo {
 width: 7vw;
   margin: 0 15px 25px 10px;
}

.bar {
  width:40vw;
  padding-top: 10px;
  margin-left: 12px
}
.searchBar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 48vw;
}
.navRight {
  width: 48vw;
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: center;
  padding-right: 30px;
}

.textArea {
  width: 26.7vw;
  font-family: Lato;
  font-weight: 300;
  border-radius: 3px 0 0 3px;
  border-style: solid;
  border-width: thin;
  border-right: none;
  background-color: #FBFBFA;
  border-color: #CFCBC8;
  height: 35px;
  padding-left: 10px;
  color:#CFCBC8;
  margin-left: none;
  outline: none;
}
.textArea:focus {
  border-color: black;
  color: black;
}
.searchButton {
  background-color: #F56400;
  border-style: solid;
  border-radius: 0 3px 3px 0;
  border-width: thin;
  border-right: none;
  color: white;
  font-size: 16px;
  height: 35px;
  width:6vw;
  font-family: Lato;
  font-weight: 300;

}

.navText{
  font-family: Arial;
  font-weight: 300;
  padding-top: 8px;
  font-size: 14px;
}
.navLink {
  color: #ED8D55;
  font-weight: 300;
}
.navLink:hover {
  color: #ED8D55;
  text-decoration: underline;
}
.navLinkButton {
  border-color: #ED8D55;
  border-radius: 3px;
  background-color: white;
  border-style: solid;
  border-width: thin;
  margin-top: 5px;
  color: #ED8D55;
  font-family: Lato;
  font-weight: 300;
  font-size: 14px;
}
.navLinkButton:hover {
  background-color: #FBFBFA;
}
.shopCart {
  border-left: solid thin #CFCBC8;
  height: 40px;
  margin-left: 15px;
  padding-left: 10px;
}
.shoppingCartText:hover {
  font-weight: bold;
}
.shoppingCart {
  height: 30px;
  width: 30px;
}
.shoppingCartText {
  padding-left: 5px;
  font-size: 9pt;
  color: #9C9C9C;
  font-family: Lato;
  font-weight: 300;
}
